<%=	link_to "Nouveau Post", new_admin_post_path %>

<div id="posts">
	<ul>
	
<% @posts.each do |post| %>
		<li><%= link_to post.title, permalink_path(post) %> - <%= link_to "Editer", edit_admin_post_path(post.id) %> - <%= link_to "Supprimer", admin_post_path(post.id), :method => :delete %></li>
<% end %>
</ul>



</div>
